---
import PageLayout from "../../layouts/PageLayout.astro";
import BlogPostDisplay from "@/layouts/blogLayouts/BlogPostDisplay.astro";
import { getCollection } from "astro:content";
import { string_to_slug } from "@/utils/utils";
import { getPosts } from "@/utils/posts";

export async function getStaticPaths() {
  const allPosts = await getPosts();

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag: string_to_slug(tag) },
      props: { originalTag: tag, filteredPosts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { filteredPosts, originalTag } = Astro.props;
---

<main>
  <PageLayout
    title={`Blog | ${tag}`}
    description={`Blogposts filed under category ${tag}`}
  >
    <!-- <p>Posts tagged with {tag}</p> -->
    <BlogPostDisplay {filteredPosts} tag={originalTag} />
  </PageLayout>
</main>

<style>
  main {
    /* padding-inline: 1rem; */
    /* margin-top: var(--header-offset); */
  }
</style>
