---
const { frontmatter } = Astro.props;
const { title, subtitle, minutesRead, description, pubDate, author, tags } =
  frontmatter;
import { string_to_slug, formatDate } from "@/utils/utils";
import { capitalizeFirstLetter } from "@/utils/utils";
import { fade, slide } from "astro:transitions";
import "@/css/postContent.css";
// console.log(frontmatter);
---

<header class="inner post-header content-grid">
  <h1 transition:name={title} class="post-title">
    {capitalizeFirstLetter(title)}
  </h1>
  {subtitle && <p class="subtitle">{subtitle}</p>}
  <div class="flex">
    <time datetime={pubDate.toISOString()} class="pubdate"
      >{formatDate(pubDate)}</time
    >
    <!-- {
          author && (
            <>
              <span>by</span>
              <a href={`/about#${string_to_slug(author)}`}>{author}</a>
            </>
          )
        } -->
    <ul class="tags">
      {
        tags.map((tag: string) => (
          <a class="tag" href={`/tags/${string_to_slug(tag)}`}>
            {tag}
          </a>
        ))
      }
    </ul>
    <span class="read-time">{minutesRead}</span>
  </div>
</header>

<style>
  header {
    margin-block-start: 2rem;
    margin-block-end: 5rem;
  }

  .post-title {
    /* text-box: trim-both cap alphabetic; */

    font-family: var(--font-heading);

    /* font-weight: 900;
    font-optical-sizing: auto;
    font-style: italic;
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: diagonal-fractions; */
    line-height: 1;
    text-wrap: balance;
    font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
    /* margin-left: -1rem; */

    @media (width > 500px) {
      font-size: var(--text-huge);
      font-size: 5rem;
    }
  }
  .subtitle {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--neutral-200);
    font-family: var(--font-heading);
    /* text-align: end; */
  }
  .pubdate,
  .read-time {
    font-family: var(--font-heading);
    font-size: 0.875rem;
    /* font-weight: bold; */
  }
  .read-time {
    display: block;
    margin-left: auto;
    font-style: italic;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 0.5rem;
    /* margin-block-start: 1.5rem; */
  }

  .tag {
    font-size: 0.75rem;
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--yin);
    background-color: var(--yang);
    padding: 0rem 0.55rem;
    border: 1px dotted var(--yin);

    &:hover {
      background-color: var(--clr-accent);
      color: var(--black);
    }
  }
</style>
