---
import PageLayout from "@/layouts/PageLayout.astro";
import MDPostHeader from "./MDPostHeader.astro";
import MDPostFooter from "./MDPostFooter.astro";
import "@/css/postContent.css";

const { frontmatter } = Astro.props;
const {
  title,
  subtitle,
  minutesRead,
  description,
  pubDate,
  updated,
  author,
  tags,
} = frontmatter;

const postJsonLD = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: title,
  datePublished: pubDate,
  dateModified: updated || pubDate,
  url: Astro.url.href,
  description: description || subtitle,
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": Astro.url.href,
  },
  author: {
    "@type": "Person",
    name: author || "Edvard Söderblom",
  },
};
---

<PageLayout
  description={description}
  title={`Blog | ${title}`}
  showAside={false}
  showScrollProgress={true}
  showFooter={false}
  jsonLD={postJsonLD}
>
  <MDPostHeader {frontmatter} />

  <main class="content-grid">
    <!-- <p class="post-description">{description}</p> -->
    <div class="post-content flow">
      <slot />
    </div>
    <MDPostFooter {tags} {title} />
  </main>
</PageLayout>
<script>
  import "@stefanjudis/sparkly-text";
</script>
<style>
  .post-description {
    margin-block: 1.5em;
    background-color: gold;
  }
</style>
