---
import { ClientRouter } from "astro:transitions";
import OG from "@/layouts/OG.astro";
import { pageInfo } from "@/utils/data";

const { title = pageInfo.title, description = pageInfo.description } =
  Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Nope Studio RSS Feed"
    href={new URL("rss.xml", Astro.site)}
  />
  <OG {title} {description} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />

  <ClientRouter />
</head>
